/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
p {
  font-size: 16px;
}
.p {
  color: black;
  font-size: 18px;
  transition: all 0.5s linear;
}
.p::after {
  position: absolute;
  content: attr(data-text);
  color: transparent;
  background-color: black;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 0;
  width: 0;
  display: none;
  transition: all 0.5s linear;
  text-align: center;
  line-height: 39px;
  border: #000 1px solid;
}
.ul::after {
  position: absolute;
  content: "";
  width: 0%;
  background-color: black;
  height: 2px;
  bottom: -10%;
  left: 0%;
  transition: all 0.3s linear;
}
.ul:hover {
  color: #000;
}

.ul:hover::after {
  width: 100%;
}
.p:hover {
  background-color: transparent;
}
.p:hover::after {
  width: 100%;
  display: block;
  text-align: center;
  left: 0;
  animation: an 0.5s alternate linear forwards;
}
@keyframes an {
  from {
    width: 0;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
    color: white;
  }
}
.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;
}
.marquee .span {
  display: inline-block;
  padding-left: 100%;
  animation: marq 20s linear infinite;
}
@keyframes marq {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.div {
  scrollbar-width: none;
}
.s {
  font-size: 14px;
}
.dd {
  font-size: 14px;
}
.r {
  font-size: 12px;
}
.input{
  border: 1px solid rgb(200, 198, 198);
  height: 48px;
  padding: 9px;
  border-radius: 6px;
}
.active{
  border: 1px solid rgb(200, 198, 198);
  color: lightgray;
}